<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset password</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
  
  <div class="columns is-vcentered is-centered is-mobile" style="height:100vh;">
    <div class="column is-narrow">
      
      <h1 class="title has-text-centered">Reset password</h1>
      
      <div class="box">
        <form method="POST" action="<%= '/reset-password/' + userId + '/' + token %>">
          
          <div class="field">
            <label class="label">New password</label>
            <div class="control">
              <input class="input" id="password" name="password" type="password" placeholder="New password">
            </div>
          </div>
          
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          
          <div class="field">
            <div class="control">
              <input class="button is-link" type="submit" value="Submit">
            </div>
          </div>
          
        </form>
      </div>
      
    </div>
  </div>
  
  <script src="/js/reset_password.js"></script>
  
</body>
</html>
